.codeDemo {
  margin: 2rem auto;
  max-width: 800px;
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
}

.filename {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 0.9rem;
  color: #666;
  background-color: #ecf0f7;
  padding: 0.75rem 1.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.codeContainer {
  background-color: #f7f8fa;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: auto;

  &:has(+ .filename) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.pre {
  margin: 0;
  padding: 1.5rem;
}

.code {
  font-family: 'Fira Code', monospace;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #333;
  display: block;
  white-space: pre;
}