.featureDemo {
  padding: 5rem 4rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  gap: 4rem;
  
  &.reversed {
    flex-direction: row-reverse;
  }
}

.content {
  flex: 0.8;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  background: linear-gradient(279deg, #ff8b00 35.21%, #f93920 63.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--rstack-hero-desc-color, #6b7075);
  margin: 0;
}

.codeWrapper {
  flex: 1.2;
  min-width: 0;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .featureDemo {
    padding: 4rem 2rem;
  }
  .container {
    flex-direction: column;
    gap: 2rem;
    
    &.reversed {
      flex-direction: column;
    }
  }
  
  .title {
    font-size: 2rem;
    text-align: center;
  }
  
  .description {
    text-align: center;
  }
}
